main{
    background: #fff;
    height: 90%;
    display: flex;
}
.box-container{
    background-color:transparent;
    display: flex;
    width: 60%;
    margin: 3em auto;
    box-shadow: 2px 2px 4px 0px silver;
}

.box-one{
     width:50%;
     height: 100%;;
     background: linear-gradient(rgba(31, 33, 37, 0.7) 100%, transparent),url('../images/car3.jpg'); 
     background-size: 100% 100%;
     background-repeat: no-repeat;
     text-align: center;
}

.banner{
    height: 100%;
    display: flex;
}

.banner h2{
    margin: auto;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width:80%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2em;
}

.box-one h5{
    position:absolute;
    padding: 10px 10px;
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--theme-color);
}

  
.box-two{
    display: flex;
    background-color: transparent; 
    color: white;
    flex-direction: column;
    width: 50%;
}

.box-two >div{
    margin: auto;
    width: 75%;
}

a.log{
    margin-left: 20px;
    color: grey;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

a.log:hover{
       color: var(--theme-color);
}

.box-two h4{
    padding: 0;
    color:grey;
    display: flex;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

form{
   padding-top: 0.5em;
   text-align: center;
}

input{
    display: block;
    padding: 0.8em 1em ;
    border: none;
    margin-top: 20px; 
    border-bottom: var(--theme-color) 0.1em solid;
    border-left: var(--theme-color) 0.3em solid;
    width: 85%;
    outline: none;
    background: transparent;
    outline: none;
}

input:focus{
    border-bottom: var(--theme-color) 0.1em solid;
}

.box-two button{
    margin-top: 1em;
    border-radius:1em;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    padding: 0.7em 4em;
    color: white;
    background-color: var(--theme-color);
    
}

.signup{
    max-width: 950px;
    margin: 3em auto;
}

button:hover{
    color: white;
    transition: all 0.3s ease;
    background: silver;
    outline: none;
} 
.font {
    letter-spacing: 0.1em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: var(--theme-color);
  }
  .error, .result {
    letter-spacing: 0.1em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: red;
  }

  .subtwo{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    
  }
  .subtwo1{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.subtwo2{
    height: 80%;
    width: 100%;
    
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--theme-color);;
    border-right: 5px solid var(--theme-color);;
    border-bottom: 5px solid var(--theme-color);;
    width: 27px;
    height: 27px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }