*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --theme-color: rgb(231, 113, 125);
}
.current{
    color: var(--theme-color)
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    padding: 0px 0px;
    background: #eee;
    height: 100vh;
}

main{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

nav{
    padding: 15px 5px;
    background: transparent;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header {
    box-shadow: 0px -4px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: var(--theme-color) 0.1em solid;
    background: white;
    height: 10%;
}

.applyBottomShadow{
    box-shadow: 0px -4px 4px 8px rgba(0, 0, 0, 0.2);
    max-height: auto;
}

.navmenu {
    width: 1.5em;
    height: 2.1em;
    display: none;
}


nav a{
    color:silver;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    white-space: nowrap;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}
nav li{
    padding: 0 0.2em;
}

nav a:hover{ 
    color: var(--theme-color);
}
h4, h1{
    color: var(--theme-color);
  
}


@media screen and (max-width: 768px) {

    
    nav {
        display: block;
        position: relative;
        background-color: white;
    }
    .navmenu div {
        width: 100%;
        height: 0.3em;
        background-color: var(--theme-color);
        margin: 0.2em 0;
    }
    
    .close div:nth-child(1) {
      opacity: 0;
    }
    
    .close div:nth-child(2) {
      transform: rotate(45deg) translateY(0.35em);
    }
    .close div:nth-child(3) {
     transform: rotate(-45deg) translateY(-0.35em);
    }

    nav ul {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        transform: translateY(-150%);
        transition: all 1s linear;
        z-index: -1000;
    }
    
    .shownav {
        transform: translateY(15px);
        z-index: 2;
    }

    .navwrap {
    
        width: 100%;
    }

    .welcome {
        z-index: 1;
    }
    .one{
        z-index: -400;
    }

    .navmenu {
        position: absolute;
        z-index: 1;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        display: initial;
    }

    .show{
        right: -20%;
    }

    nav li {
        border: none;
        padding: 0.3em;
        background: white;
        z-index: 1;
        text-decoration: none;
        outline: none;
    }

    nav a {
        color: var(--theme-color);
        text-decoration: none;
        outline: none;
    }
    nav a:hover{ 
        color: silver;
        transition: all 0.3s ease;
    }
    
    .box-container{
        background-color:transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 1;
    }
    .box{
        width: 50%;
        flex: 1 1 0;
            
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        background: white;
        padding:20px; 
                
    }
}

@media only screen and (max-width: 550px) {
.footer{
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-gap: 20px;
    background: white;
    padding:20px; 
    box-shadow: 2px 2px 4px 0px silver;
    margin-top: 0;

                
    }

}
