h4, h1{
    color: var(--theme-color);
  
}
body{
    display: flex;;
}
p{
    text-align: center;
    margin: 1em auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: var(--theme-color);
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
     margin: 0 1em;
     color: var(--theme-color)
}
.deta{
width: 100%;
padding: 0 2em;
margin: 0;
}

form{
    width: 80%;
    margin: 1em auto;
    text-align: left;
}

.details{
  margin-top:0.5em;
  position: relative;
}

.status{
    display: flex;
    width: 100%;
}

.status span {
    width: 50%;
}

select {
    width: 90%;
    border: none;
    margin-top: 7px;
    padding: 0.2rem;
    outline: none;
    border-bottom: solid 1px silver;
}


select:focus{
    border-bottom: solid 1px var(--theme-color);
}
div#postal{
    margin: 12px auto;
}

.post{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    width: 16em;
    outline: none;
    font-size: 0.7em;
    color: white;
    background-color: var(--theme-color);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 0.6em;
    border: solid 2px var(--theme-color);
    border-radius: 0.3em;
}


.post:hover{
    color: white;
    transition: all 0.3s ease;
    background: rgb(185, 218, 255);
    outline: none;
    border: solid 2px rgb(185, 218, 255);
}

input{
    margin: 0.7em 0;
    border: none;
    border-bottom: silver 0.1em solid;
    width: 100%;
    outline: none;
    background: transparent;
    display: block;
    padding:1px auto;
}
input:focus{
    border-bottom: var(--theme-color) 0.1em solid;
}

.imaged{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    height: 12em;
    margin: 1em auto;
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-image: url('../images/camera.png');
    background-size: cover; 
    border: solid 2px var(--theme-color);
}

input[type="file"]{
    display: none;
}

.imageDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.upload{
    width: 24%;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    height: 100px;
}

.upload img {
    width: 100%;
    transition: all 0.5s ease;
    height: 100%;
    object-fit: cover;
}

.upload::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.2) 100%, transparent 0)
}

.upload:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.up-load{
    position: absolute;
    top: 13.6em;
    border:none;
}
.up-load::before{
    content: '\f030';
    font-weight: 900;
    color: var(--theme-color);
    padding-right: 5px;
}



button:hover{
    color: white;
    transition: all 0.3s ease;
    background: var(--theme-color);;
    outline: none;
    border: solid 2px var(--theme-color);
}
