*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --theme-color: rgb(231, 113, 125);
}
body {
    display: flex;
    height: 10%;
    flex-direction: column;
    margin: 0px 0px;
    padding: 0px 0px;
    background: #eee;
}

main{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: auto;
    margin-bottom: 4em;
   z-index: 5;
}
.container h1 {
    margin-left: 0.5em;
}

nav{
    padding: 15px 5px;
    background: transparent;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right:0
}

.applyBottomShadow{
    box-shadow: 0px -4px 4px 8px rgba(0, 0, 0, 0.2);
    max-height: auto;
}

.navmenu {
    width: 1.5em;
    height: 2.1em;
    display: none;
}


nav a{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    white-space: nowrap;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}
nav li{
    padding: 0 0.2em;
}

nav a:hover{ 
    color: var(--theme-color);
}
h4, h1{
    color: var(--theme-color);
  
}

.crossfade > figure {
    animation: imageAnimation 24s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    min-height: 70vh;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -56;
}

.crossfade {
    background: linear-gradient(rgba(31, 33, 37, 0.7) 100%, transparent);
    height: 70vh;
}


.crossfade > figure:nth-child(1) {
  background-image: url('../images/cars1.jpg');
}

.crossfade > figure:nth-child(2) {
  animation-delay: 5s;
  background-image: url('../images/car2.jpg');
}

.crossfade > figure:nth-child(3) {
  animation-delay: 10s;
  background-image: url('../images/car3.jpg');
}

.crossfade > figure:nth-child(4) { 
    animation-delay: 15s;
    background-image: url('../images/car4.jpg');
}

.crossfade > figure:nth-child(5) { 
    animation-delay: 19.5s;
    background-image: url('../images/car5.jpg');
}

 
@keyframes imageAnimation {  
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    10% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    
    20% {
        opacity: 1
    }
    
    40% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.bannerText {
    padding-top: 10em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bannerText h4{
    font-weight: 500;
    color: white;
    font-size: 2em;
}

.bannerText p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}

button{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    width: 12em; 
    outline: none;
    border: none;
    font-size: 0.7em;
    color: white;
    background-color: var(--theme-color);
    margin: 2em auto; 
    padding: 0.6em 0.5em;
    border-radius: 2em;
    margin-bottom: 20px;
}
.scrollCars >div >h4{
    padding: 30px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--theme-color);
}

.cars {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    grid-gap: 20px;
    grid-template-rows: repeat(auto, minmax(150px, 150px));
}

.carCard{
    position: relative;
    width: auto;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(31, 37, 38, 0.2) 100%,
    transparent);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.9s ease;
}

.carCard:hover  .cardContainer{
    top: 0;
    cursor: pointer;
    
}

.carCard:hover {
    background: linear-gradient(to bottom, rgba(31, 37, 38, 0.5) 100%,
    transparent);
}
.carCard img{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
}

.cardContainer{
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    padding: 20px;
    transition: all 0.5s ease;
}

.cardDetails{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 1px solid #ffff;
    color: #fff;
    height: 100%;
    padding-top: 25px;
}

.about{
    width:100%;
    height: auto;
    max-width: 98%;
    margin: 3em auto;
    box-shadow: 2px 2px 4px 0px silver;
    background: white;

}
.us h4{
    padding: 20px;
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--theme-color);
}
.us h5{
    font-weight: 500;
    color: silver;
    font-size: 2em;
    padding: 5px;
}
.us p{
    margin: 10px auto;
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

div.us{
    margin: 1em auto;
    padding: 2em 2em;
}
.box-container{
    background-color:transparent;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex: 1 1 0;
    max-width: 950px;
    margin: 3em auto;
    box-shadow: 2px 2px 4px 0px silver;

}
.box{
    height: 31em;
    min-width: 20em;
    flex-grow: 1;
    max-width: 100%;

}
.one{
     width:50%;
     background: linear-gradient(rgba(31, 33, 37, 0.7) 100%, transparent),url('../images/car3.jpg'); 
     background-size: 100% 100%;
     background-repeat: no-repeat;

   }
   .one h2{
    font-weight: 500;
    color: white;
    font-size: 2em;
   }
  
.two{
    background-color: white; 
    color: white;
}
.one h5{
    padding: 30px;
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--theme-color);
}

a.log{
    
    color: grey;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}
a.log:hover{
       color: var(--theme-color);
}

.box h4{
    margin: 1em 1em;
    padding: 0;
  color:grey;
  display: flex;
  justify-content: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h2{
    padding: 30px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--theme-color);
}

form{
    padding-top: 6em;
   text-align: center;
 
}

input{
    display: block;
    margin: 0.7em auto;
    padding: 0.8em 1em ;
    border: none;
    border-bottom: var(--theme-color) 0.1em solid;
    border-left: var(--theme-color) 0.3em solid;
    width: 85%;
    outline: none;
    background: transparent;
    outline: none;
}

input:focus{
    border-bottom: var(--theme-color) 0.1em solid;
}

.box button{

    margin-top: 1em;
    border-radius:1em;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    padding: 0.7em 4em;
    color: white;
    background-color: var(--theme-color);
    
}

.signup{
    max-width: 950px;
    margin: 3em auto;
}

button:hover{
    color: white;
    transition: all 0.3s ease;
    background: silver;
    outline: none;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background: white;
    padding:20px; 
    box-shadow: 2px 2px 4px 0px silver;
    margin-top: 0;
    
}
.footer a{
    color: silver; 
    font-weight: 500;
    display: block;
    transition: all 0.3s ease;
    margin: 10px 0px;
       
}
.footer a:hover{ 
      color: var(--theme-color)
}

.but button{
    width: 100%;
    box-shadow: 2px 2px 4px 0px silver;
    margin-bottom: 0px;
    border-radius:0.1em;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    padding: 1.5em;
    color: white;
    background-color: var(--theme-color);
}
.but button:hover{

    color: white;
    transition: all 0.3s ease;
    background: silver;
    outline: none;
}

@media screen and (max-width: 768px) {

    .cars {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        grid-gap: 40px;
    }
   
    nav {
        display: block;
        position: relative;
        background-color: white;
    }
    .navmenu div {
        width: 100%;
        height: 0.3em;
        background-color: var(--theme-color);
        margin: 0.2em 0;
    }
    
    .close div:nth-child(1) {
      opacity: 0;
    }
    
    .close div:nth-child(2) {
      transform: rotate(45deg) translateY(0.35em);
    }
    .close div:nth-child(3) {
     transform: rotate(-45deg) translateY(-0.35em);
    }

    nav ul {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        transform: translateY(-150%);
        transition: all 1s linear;
        z-index: -1000;
    }
    
    .shownav {
        transform: translateY(15px);
        z-index: 2;
    }

    .navwrap {
    
        width: 100%;
    }

    .welcome {
        z-index: 1;
    }
    .one{
        z-index: -400;
    }

    .navmenu {
        position: absolute;
        z-index: 1;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        display: initial;
    }

    .show{
        right: -20%;
    }

    nav li {
        border: none;
        padding: 0.3em;
        background: white;
        z-index: 1;
        text-decoration: none;
        outline: none;
    }

    nav a {
        color: var(--theme-color);
        text-decoration: none;
        outline: none;
    }
    nav a:hover{ 
        color: silver;
        transition: all 0.3s ease;
    }
    
    .box-container{
        background-color:transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 1;
              
    
    }
    .box{
        width: 50%;
        flex: 1 1 0;
        min-width: 13em;
            
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        background: white;
        padding:20px; 
                
    }

}

@media only screen and (max-width: 550px) {
    .cars {
        margin:0;
        display: grid;
        grid-template-columns: 1fr;
    }

    .carCard{
        margin: auto;
        width: 300px;

    }
    .footer{
        display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-gap: 20px;
    background: white;
    padding:20px; 
    box-shadow: 2px 2px 4px 0px silver;
    margin-top: 0;

                
    }
    
    .us h4{
        margin: 0px auto;
        text-align: centre;
        font-size: 1em;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--theme-color);
    }
    .us h5{
        font-weight: 500;
        color: silver;
        font-size: 1em;
        padding: 5px;
        text-align: left;
    }
    .us p{
        margin: 10px auto;
        text-align: left;
        font-size: 1em;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }

}
